<div class="card shadow">
  <div class="card-header">
    <h4>
      New
      Task
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', task: @task %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', tasks_path %>
  </div>
</div>
