<div class="card shadow">
  <div class="card-header">
    <h4>
      Edit
      Center
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', center: @center %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', @center %>
  </div>
</div>
