<div class="card shadow">
  <div class="card-header">
    <h4>
      Edit
      Shift
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', shift: @shift %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', @shift %>
  </div>
</div>
